@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: radial-gradient(circle at center, #1a1a2e 0%, #000000 100%);
  min-height: 100vh;
}

.font-orbitron {
  font-family: var(--font-orbitron), sans-serif;
}